* h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0px;
    padding: 0px;
    }
    
    .logo,
    .footer-logo {
    text-decoration: none
    }
    
    .nav__link,
    .header-contacts__link,
    .footer__link,
    .link {
    text-decoration: none
    }
    
    .list,
    .link {
    list-style: none;
    }