:root {
    /* Fonts */
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Releway", sans-serif;
    
    /* Tex colars */
    --accent-color: #2196F3;
    --primary-tex-color: #757575;
    --icons-color:#AFB1B8;
    --secondary-text-colar: #212121;
    --auxiliary-text-colar: #FFFFFF;
    --bg-colar: #2F303A;
    --bg-team-colar: #F5F4FA;
    --client-border: #AFB1B8;
    }