.section-activity {
padding-top: 0px;

@media screen and (max-width:1199px) {
display: none;
}
 }

.section__titel {
color: var(--auxiliary-text-colar);
font-size: 14px;
line-height: 16px;
}

.activity__list {
display: flex;
justify-content: center;
}

.activity__item:not( :last-child) {
margin-right: 30px;
 }
 
.thumb {
position: relative;
}

.overlay {
position: absolute;
bottom: 0;
left: 0;
width: 370px;
height: 70px;

display: flex;
align-items: center;
justify-content: center;

background: rgba(47, 48, 58, 0.8);
text-transform: uppercase;

.overlay__titel {
color: var(--auxiliary-text-colar);
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
}
}











.overlay__titel {
color: var(--auxiliary-text-colar);
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
}