.section-activity {
padding-top: 0px;
}

.activity__list {
display: flex;
}

.activity__item:not( :last-child) {
margin-right: 30px;
}

.thumb {
position: relative;
}

.overlay {
position: absolute;
bottom: 0;
left: 0;
width: 370px;
height: 70px;

display: flex;
align-items: center;
justify-content: center;


text-transform: uppercase;
background-color: rgba(47, 48, 58, 8);

&__titel {
color: var(--auxiliary-text-colar);
font-size: 14px;
line-height: 16px;
}
}