.client__list {
display: flex;
justify-content: center;
gap: 30px;
}

.client__item {
width: 170px;
}

.client__link {
height: 92px;
border: 1px solid var(--client-border);
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
color: var(--icons-color);

transition-property: color, border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2,1);
}

.client__icons {
fill: currentColor;
}

.client__link:hover,
.client__link:focus {
color: var(--accent-color);
border-color: var(--accent-color);
border-radius: 4px;
}