.footer {
background-color: var(--bg-colar);
padding-top: 60px;
padding-bottom: 60px;

@media screen and (min-width:768px) {
padding: 60px 89px 60px 79px;
}

@media screen and (min-width:1200px) {
padding: 60px 0px 60px 0;
display: flex;
align-items: baseline;
justify-content: space-between;   
}

.container {
@media screen and (min-width:768px) {
display: flex;
align-items: baseline;
justify-content: space-between;   
}
@media screen and (min-width:1200px) {
padding-right: 0px;
margin: 0px;
}
}
&__logo {
display: flex;
justify-content: center;
color: var(--auxiliary-text-colar);
margin-bottom: 20px;

@media screen and (min-width:1200px) {
display: block;

}
}

&__item {
text-align: center;
display: block;
margin-bottom: 8px;


@media screen and (min-width:1200px) {
margin-bottom: 9px;
text-align: left;
}
}

&__item:last-child {
margin-bottom: 0px;
}

.footer__item :hover,
.footer__item :focus {
color: var(--accent-color);
}

&__link {
color: rgba(255, 255, 255, 0.6);

transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 02, 1);
}

&__title {
text-align: center;
color: var(--auxiliary-text-colar);
margin-bottom: 20px;

@media screen and (min-width:1200px) {
text-align: left;
}
}
}

.footer-socials {
margin-top: 60px;

@media screen and (min-width:768px) {  
margin: 0px;
}
@media screen and (min-width:1200px) {
margin-left: 70px;
}
 }
.address {
text-align: center;
font-style: normal;
color: var(--auxiliary-text-colar);
margin-bottom: 8px;
// margin-bottom: 9px;
}

/* Footer form */

.footer-form__container {
padding-left: 15px;
padding-right: 15px;

@media screen and (min-width:768px) { 
padding: 60px 0px 0px 0px; 
}

@media screen and (min-width:1200px) {
padding: 0px 15px 0px 93px;
display: flex;
}

.footer-form__group {
// display: flex;
align-items: center;

@media screen and (min-width:1200px) {
display: flex;
align-items: baseline;
padding: 0px;
}
.footer-form__title { 
@media screen and (min-width:1200px) {
text-align: left;
}
}
}

.footer-form__label {
text-align: center;

@media screen and (min-width:1200px) {
margin-right: 12px;
}
}

.footer-form__input {
width: 450px;
height: 50px;
margin-bottom: 20px;
padding: 15px 16px;
align-items: center;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: -webkit-drop-shadow(0px 4px 4px rgba(0, 0, 0, 015));
border-radius: 4px;
background-color: var(--bg-colar);
font-size: 16px;
color: var(--auxiliary-text-colar);

@media screen and (min-width:1200px) {
width: 358px;
}
@media screen and (min-width:1200px) {
margin: 0px;
}
}

.footer-form__input::placeholder {
font-size: 16px;
color: rgba(255, 255, 255, 0.6);
}

label {
display: block;
}
 }