.features__list {
// display: flex;

@media screen and (min-width: 768px) {
display: flex;
flex-wrap: wrap;
gap: 30px;
}
@media screen and (min-width: 1200px) {
flex-wrap: nowrap;
justify-content: center;
}
}

.features__item {
// width: 270px;

}

.features__item:not( :last-child) {
margin-bottom: 30px;

@media screen and (min-width: 768px) {
margin-bottom: 0px;
}
}

.features__img {
margin-bottom: 30px;
display: flex;
justify-content: center;
align-items: center;
// width: 270px;
width: 450px;
height: 120px;

background-color: var(--bg-team-colar);
border-radius: 4px;

@media screen and (min-width: 768px) {
width: 354px;    
}

@media screen and (min-width: 1200px) {
width: 270px;    
}
}

.features__item .features__titel {
font-size: 14px;
line-height: calc(16 / 14);
color: var(--secondary-text-colar);
margin-bottom: 10px;
text-align: center;

@media screen and (min-width: 768px) {
text-align: left;  
}
}

.features__text {
@media screen and (min-width: 768px) {
width: 354px;    
}

@media screen and (min-width: 1200px) {
width: 270px;    
}
}

.features__item:not( :last-child) {
// margin-right: 30px;
}